
   html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
  }
 
 
  body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(grey, brown);
  }
  
  button {
    font-size: 13px;
    color: #2f4f4f;
  }
 h2 {
   text-align: center;
   color: darkslategray;
   font-size: 2rem;
 }
  
  #categories_collection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #333;
  }
  
  .card {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
   */

   html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
  }
  
  
  body {
    min-width: 100%;
    background: linear-gradient(#FFCCBA, #A4EBC8);
  }
  
  button {
    font-size: 13px;
    color: #2f4f4f;
  }
  
  h2 {
    text-align: center;
    color: #61AD93;
    font-size: 32px;
  }
  
  #categories_collection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 15px 20px 18px 18px;
  }
  
  .card {
    min-width: 20%;
    margin: 10px;
    border: 1px solid #828282;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #828282;
  }
  
  .card:hover {
    box-shadow: 4px 7px 7px #828282;
  }
  
  #task-list-form {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  h5 {
    font-size: 16px;
  }